body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  color: #2E2A3B;
}

header {
  flex: 0 80px;
  color: #2E2A3B;
  font-family: "Avantgarde", sans-serif;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #2E2A3B;
  font-family: "Avantgarde", sans-serif;
}

footer {
  flex: 0 30px;
  color: #2E2A3B;
  font-family: "Avantgarde", sans-serif;
}

menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
  color: #2E2A3B;
  font-family: "Avantgarde", sans-serif;
}

