body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  color: #2E2A3B;
  background-color: #faf7fc;
}

header {
  flex: 0 80px;
  color: #2E2A3B;
  font-family: "Inter", sans-serif;
}

main {
  flex: 1 calc(100vh - 120px);
  color: #2E2A3B;
  font-family: "Inter", sans-serif;
}

footer {
  flex: 0 30px;
  color: #2E2A3B;
  font-family: "Inter", sans-serif;
  background-color: #7e62bf;
}

menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
  color: #2E2A3B;
  font-family: "Inter", sans-serif;
}

menu .nav-item {
  padding: 0 0.3em;
}

.navbar-light {
  background-color: #beb1f0;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}

footer a {
  float: right;
}

.footer {
  background-color: #7e62bf;
  color:#eae6fc;
  padding: 0.5em; 
}

.navbar-brand {
  padding-left: 1em;
  margin: 0em;
  font-family: "Copperplate", "Copperplate Gothic Light", serif;
}

.navbar-nav {
  justify-content: end;
  align-items: center;
  padding-inline-end: 1em;
  margin-top: 0em;
}

#head {
  width: 2em;
  height: 1em;
  background-color: #beb1f0;
  border-radius: 1em;
}

.page-content {
  display: flex;
}

.bunny {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 70%;
  margin: 0.5em;
}

.sidebar {
  display: flex;
  justify-self: end;
  align-self: flex-start;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 30%;
  margin: 0.5em;
}

#greeting {
  display: flex;
  justify-content: start;
  flex-direction: column;
}