#exit {
  text-decoration: none;
  align-self: start;
  justify-self: start;
  padding-left: 1em;
  font-size: 2em;
}

#exit:hover {
  filter: drop-shadow(0 0 8px #7e62bf);
}

#h2 {
  font-size: 2.5em;
  padding-bottom: 0.5em;
}

.window {
  font-size: 1.5em;
}

#current {
  padding-bottom: 1.5em;
}

#start {
  width: 6em;
  margin: 2em;
  text-align: center;
}

#update {
  color:#7e62bf;
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;
}

#save {
  --bs-btn-bg: #a7f3d0;
  --bs-btn-border-color: #a7f3d0;
  --bs-btn-hover-bg: #7fd2ab;
  --bs-btn-hover-border-color: #7fd2ab;
  --bs-btn-color: #2E2A3B;
  margin: 0 0.5em;
}