.weather-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1em;
  width: 100%;
}

.weather-card {
  display: flex;
  aspect-ratio: 1 / 1;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background:#7e62bf;
  border-radius: 6px;
}

.day {
  text-align: center;
  justify-content: center;
  grid-template-rows: 10px;
}

.weather-title {
  font-size: 2.5em;
  padding: 1em;
}

.temp {
  font-weight: bold;
  text-align: center;
  justify-content: center;
  grid-template-rows: 10px;
}