.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1em;
  width: 100%;
}

.card {
  aspect-ratio: 1 / 1;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.card:nth-child(odd) {
  background:#beb1f0;
}

.card:nth-child(even) {
  background:#a7f3d0;
}

#streak {
  text-align: center;
  padding-top: 2em;
  font-size: 1.2em;
  padding-bottom: 2em;
}

#overview {
  padding-bottom: 0.5em;
  font-size: 3em;
}

#exit {
  text-decoration: none;
  align-self: start;
  padding-left: 1em;
  font-size: 2em;
}

#exit:hover {
  filter: drop-shadow(0 0 8px #7e62bf);
}

.day-header {
  text-align: center;
  justify-content: center;
  grid-template-rows: 10px;
  font-weight: bold;
}
