.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1em;
  width: 100%;
}

.card {
  aspect-ratio: 1 / 1;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.under {
  background:#FDE68A;
}

.reached {
  background:#a7f3d0;
}

.empty {
  background: #C4C4C4;
}

#streak {
  text-align: center;
  padding-top: 2em;
  font-size: 1.2em;
  padding-bottom: 2em;
}

#overview {
  padding-bottom: 0.5em;
  font-size: 3em;
}

#exit {
  text-decoration: none;
  align-self: start;
  padding-left: 1em;
  font-size: 2em;
}

#exit:hover {
  filter: drop-shadow(0 0 8px #7e62bf);
}

.day-header {
  text-align: center;
  justify-content: center;
  grid-template-rows: 10px;
  font-weight: bold;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background: #cef3e2;
  padding: 30px;
  border-radius: 12px;

  width: 90%;    
  max-width: 450px;
  
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.modal-content input {
  width: 100%; 
  padding: 10px;
  box-sizing: border-box; 
}

#button {
  position: absolute;
  left: 1em;
  top: 1em;
  z-index: 2000;
  background: #beb1f0;
  border-color: #beb1f0;
  border-radius: 15%;
}

#progress-header {
  font-family: "Inter", sans-serif;
  padding-top: 1em;
}