.page-content {
  display: flex;
  width: 100%;
}

.track-bunny {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  top: 6em;
  aspect-ratio: 1 / 1;
  width: 40%;   
  max-width: 300px;
  min-width: 150px;
  margin: 2em auto;
}

.sidebar {
  display: flex;
  justify-self: end;
  justify-items: center;
  align-items: center;
  align-self: flex-start;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 50%;
  margin: 0.5em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.track-page {
  height: 100%;
  justify-content: center;
  align-content: center;
}

.sleep-stat {
  font-family: 'Segoe UI', sans-serif;
  color: #7fd2ab;
  font-size: 2rem;
  font-weight: 800;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.05);
}

.bunny-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bunny-img {
  width: 60%; 
  max-width: 250px; 
  height: auto;
}

#progress {
  height: 25%;
  width: fill;
  margin-bottom: 10%;
  display: grid;
  align-content: center;
  background-color:#7e62bf;
  border-color:#7e62bf;
  color:#eae6fc;
  width: 100%;
  max-width: 30vh;
  border-radius: 10%;
  text-decoration: none;
  font-weight: bold;
}

#goal {
  height: 25%;
  margin-top: 10%;
  display: grid;
  align-content: center;
  background-color:#7e62bf;
  color:#eae6fc;
  width: 100%;
  max-width: 30vh;
  border-radius: 10%;
  text-decoration: none;
  font-weight: bold;
}

#progress:hover {
  background-color:#beb1f0;
}

#goal:hover {
  background-color:#beb1f0;
}