.body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  color: #2E2A3B;
  background-color: #faf7fc;
}

header {
  flex: 0 80px;
  color: #2E2A3B;
  font-family: "Inter", sans-serif;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  color: #2E2A3B;
  font-family: "Inter", sans-serif;
}

footer {
  flex: 0 30px;
  color: #2E2A3B;
  font-family: "Inter", sans-serif;
  background-color: #7e62bf;
}

menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
  color: #2E2A3B;
  font-family: "Inter", sans-serif;
}

menu .nav-item {
  padding: 0 0.3em;
}

.btn-primary {
  --bs-btn-bg: #beb1f0;
  --bs-btn-border-color: #beb1f0;
  --bs-btn-hover-bg: #7e62bf;
  --bs-btn-hover-border-color: #7e62bf;
  --bs-btn-color: #2E2A3B;
  margin: 0 0.5em;
}

.btn-secondary {
  --bs-btn-bg: #a7f3d0;
  --bs-btn-border-color: #a7f3d0;
  --bs-btn-hover-bg: #7fd2ab;
  --bs-btn-hover-border-color: #7fd2ab;
  --bs-btn-color: #2E2A3B;
  margin: 0 0.5em;
}

.input-group-text {
  color: #2E2A3B;
  background-color: #eae6fc;
}

.navbar-light {
  background-color: #beb1f0;
}

h1 {
  padding: 0.5em;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}

footer a {
  float: right;
}

.footer {
  background-color: #7e62bf;
  color:#eae6fc;
  padding: 0.5em; 
}

.navbar-brand {
  padding-left: 1em;
  margin: 0em;
  font-family:"Copperplate", "Copperplate Gothic Light", serif;
}

.navbar-nav {
  justify-content: end;
  align-items: center;
  padding-inline-end: 1em;
  margin-top: 0em;
}